<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">
                <%= games[0].week.name %>
            </h1>
            <div class="container">
            <table class="table">
                    <col style="width:40%">
                    <col style="width:40%">
                    <col style="width:20%">
                    <thead>
                    <tr>
                        <th style="text-align: center;">Home Team</th>
                        <th style="text-align: center;">Away Team</th>
                        <th style="text-align: center;">Date</th>
                    </tr>
                    </thead>
            <% games.forEach(function(game){ %>
                <tr>
                    <td><img src="<%= game.homeTeam.imageURL %>" style="width: 10%; "><%= game.homeTeam.name %></td>
                    <td><img src="<%= game.awayTeam.imageURL %>" style="width: 10%; "><%= game.awayTeam.name %></td>
                    <td><%= game.gameDate %></td>
                </tr>
            <% }) %>
            </table>
        </div>
                    <div style="text-align: center;">
                        <a class="btn btn-md btn-warning" href="/weeks/<%= games[0].week.id %>/edit">Edit</a>
                        <% if (games[0].week.isActive) { %>
                            <form class="update-form" action="/weeks/<%= games[0].week.id %>?_method=DELETE" method="POST">
                                <button class="btn btn-md btn-danger">Deactivate</button>
                            </form>
                            <% } else{ %>
                                <form class="update-form" action="/teams/<%= games[0].week.id %>/activate" method="POST">
                                    <button class="btn btn-md btn-success">Activate</button>
                                </form>
                                <% } %>
                                    <!-- Only if admin -->
                                    <div>
                                        <a href="/weeks">Go Back</a>
                                    </div>
                    </div>
        </div>
    </div>

    <% include ../partials/footer %>